<a href="https://colab.research.google.com/github/joywangai/Moringa_Data_Science_Prep11_W4_Independent_Project_2021_08_Joy_Wangai_Repo/blob/main/Moringa_Data_Science_Prep11_W4_Independent_Project_2021_08_Joy_Wangai_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Introduction
We want to process stations data to understand electric car usage over time using the Autolib dataset.  
In this section we import the libraries needed, load the data and get more information about the dataset.

In [1]:
# importing the libraries needed
import pandas as pd
from pandas import Series, DataFrame
import csv
import numpy as np

In [2]:
# read the data from the csv file 
url="http://bit.ly/autolib_dataset"
autolib= pd.read_csv(url, encoding='utf-8', index_col=None)
autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [3]:
# we find the shape, size and describe the dataframe autolibFrame
def autolibinfo():
  #the info shows the columns and their data types
  infoframe=autolib.info()
  #the summary/describe function will give descriptive statistics of the columns with numeric entries
  summaryframe=autolib.describe()
  return summaryframe, infoframe
# we call the function to get more information about the dataset
autolibinfo()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

(              Cars  Bluecar counter  ...         hour       minute
 count  5000.000000      5000.000000  ...  5000.000000  5000.000000
 mean      2.333600         2.333600  ...    11.509200    29.270000
 std       2.035274         2.035274  ...     6.893549    17.231741
 min       0.000000         0.000000  ...     0.000000     0.000000
 25%       0.000000         0.000000  ...     6.000000    14.000000
 50%       2.000000         2.000000  ...    11.000000    29.000000
 75%       4.000000         4.000000  ...    18.000000    44.000000
 max       7.000000         7.000000  ...    23.000000    59.000000

 [8 rows x 12 columns], None)

# 2.Data Cleaning
We are going to drop: the columns with missing values and the columns that we will not be using in the analysis stage.  
We will also need to correct the columns with dates and time to their correct datatype i.e. DateTime.

In [4]:
#keeping only the columns that will be using 		year	month	day	hour	minute
autolib1=autolib[['Address','Cars','Bluecar counter','Utilib counter','Utilib 1.4 counter','City','year','month','day','hour','minute']]
autolib1.head()

                              Address  Cars  Bluecar counter  ...  day  hour minute
0                 2 Avenue de Suffren     0                0  ...    8    11     43
1           145 Rue Raymond Losserand     6                6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17     23

[5 rows x 11 columns]

In [5]:
# changing the date and time columns to the correct datatype
def autolibDateTime():
  # we combine the columns day month year to one column
  autolibColumns=["day","month","year"]
  autolib1['date'] = autolib1[autolibColumns].apply(lambda x: '-'.join(x.values.astype(str)), axis=1)
  # then change the datatype to DateTime
  autolib1['date']=pd.to_datetime(autolib1['date']).dt.date
  # then the  day month year columns are dropped 
  autolib1.drop(columns=["day","month","year"], inplace=True)
  # the same steps are taken to deal with the hours and minutes columns
  autolibColumns1=["hour","minute"]
  autolib1['time'] = autolib1[autolibColumns1].apply(lambda x: ':'.join(x.values.astype(str)), axis=1)
  autolib1['time']=pd.to_datetime(autolib1['time'], errors='coerce').dt.time
  autolib1.drop(columns=["hour","minute"], inplace=True)
  return autolib1.head()
# then we call the function
autolibDateTime()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

                              Address  Cars  ...        date      time
0                 2 Avenue de Suffren     0  ...  2018-08-04  11:43:00
1           145 Rue Raymond Losserand     6  ...  2018-06-04  07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...  2018-03-04  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...  2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret     3  ...  2018-08-04  17:23:00

[5 rows x 8 columns]

# 3.Data Analysis
Research problem: To find the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.  
Steps:
1.  Arrange the data in chronological order i.e. Sort the data in ascending order of date and time. 
2.  Filter out the observations in the City of Paris.
3.  Compute Blue car usage by finding the difference between successive observations of the Bluecar counter column.i.e (previous-current)
*   Negative values show that a car was picked
*   Zero shows that there was no change
*   Positive values show that a car was returned
4. To answer the research question we focus on the negative usage values i.e BluecarUsage<0.
5. Then we group the list by time,
6. And count the observations that meet the criteria BluecarUsage<0
7. Then order that in descending order.

In [6]:
# we first sort the data  in ascending order of date and time
autolibFrame1 = autolib1.sort_values(["date","time" ], ascending = (True, True))
autolibFrame1.head()

                                   Address  Cars  ...        date      time
4357                11 rue Marguerite Long     3  ...  2018-01-04  00:10:00
3535                          8 rue Goubet     3  ...  2018-01-04  00:11:00
3652                   7 rue Raymond Pitet     4  ...  2018-01-04  00:11:00
3400  168 boulevard du GÃ©nÃ©ral de Gaulle     5  ...  2018-01-04  00:16:00
4792            20 Boulevard Ãmile Augier     3  ...  2018-01-04  00:19:00

[5 rows x 8 columns]

In [7]:
# then we filter out the observations in the city of Paris 
autolibFrame2 = autolibFrame1['City']=='Paris'
autolibFrameParis1=autolibFrame1[autolibFrame2]
autolibFrameParis1.head()

                         Address  Cars  ...        date      time
4357      11 rue Marguerite Long     3  ...  2018-01-04  00:10:00
3535                8 rue Goubet     3  ...  2018-01-04  00:11:00
3652         7 rue Raymond Pitet     4  ...  2018-01-04  00:11:00
4792  20 Boulevard Ãmile Augier     3  ...  2018-01-04  00:19:00
3583       169 avenue de Flandre     3  ...  2018-01-04  00:20:00

[5 rows x 8 columns]

In [8]:
# then compute Blue car usage by finding the difference between successive observations of the Bluecar counter column
autolibFrameParis1["BluecarUsage"] = autolibFrameParis1["Bluecar counter"].diff(-1)
autolibFrameParis1.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                         Address  Cars  ...      time  BluecarUsage
4357      11 rue Marguerite Long     3  ...  00:10:00           0.0
3535                8 rue Goubet     3  ...  00:11:00          -1.0
3652         7 rue Raymond Pitet     4  ...  00:11:00           1.0
4792  20 Boulevard Ãmile Augier     3  ...  00:19:00           0.0
3583       169 avenue de Flandre     3  ...  00:20:00          -1.0

[5 rows x 9 columns]

In [9]:
# then order the list by ascending order of BluecarUsage and viewing the top 5 results
autolibFrameParis1[autolibFrameParis1['BluecarUsage'] < 0].groupby('time')['time'].count().sort_values(ascending=False).head()

time
07:51:00    4
17:20:00    4
08:11:00    4
11:22:00    4
21:24:00    4
Name: time, dtype: int64

# 4.Bonus Questions

### Q1  
What is the most popular hour for returning cars?

In [11]:
# to answer this we will find the positive bluecar usage values in descending order and viewing the top 5 results
autolibFrameParis1[autolibFrameParis1['BluecarUsage'] > 0].groupby('time')['time'].count().sort_values(ascending=False).head()

time
13:24:00    5
10:55:00    5
00:24:00    4
02:35:00    4
22:26:00    4
Name: time, dtype: int64

### Q2  
What station is the most popular?  
Overall?  
At the most popular picking hour?

In [12]:
# we create another table that inlcude the station and postal code columns
newcols=autolib[["ID","Postal code"]]
autolib2=autolib1.join(newcols)
autolib2.head()

                              Address  ...  Postal code
0                 2 Avenue de Suffren  ...        75015
1           145 Rue Raymond Losserand  ...        75014
2    2 Avenue John Fitzgerald Kennedy  ...        93350
3              51 Rue EugÃ¨ne OudinÃ©  ...        75013
4  6 avenue de la Porte de Champerret  ...        75017

[5 rows x 10 columns]

In [94]:
# then repeat the analysis steps on the new dataframe
def analysis():
  # we first sort the data in ascending order of date and time
  a1=autolib2.sort_values(["date","time" ], ascending = (True, True))
  # then we filter out the observations in the city of Paris 
  a2=a1[a1['City']=='Paris']
  # then compute Blue car usage by finding the difference between successive observations of the Bluecar counter column
  a2["BluecarUsage2"] = a2["Bluecar counter"].diff(-1)
  # then order the list by ascending order of BluecarUsage and viewing the top 5 results
  autolib3=a2[a2["BluecarUsage2"] < 0].groupby('ID')['ID'].count().sort_values(ascending=False)
  autolib4=a2[a2["BluecarUsage2"] < 0].groupby(['time','ID'])['time'].count().sort_values(ascending=False)
  return autolib3.head() , autolib4.head()
# then call the function
u,v= analysis()
print(f"{u}\n\n{v}")

ID
paris-mathis-35             8
paris-etoilefoch-parking    7
paris-belleville-22         7
paris-bernardins-23         6
paris-saintroch-3           6
Name: ID, dtype: int64

time      ID
23:58:00  paris-houdartdelamotte-2             1
07:52:00  paris-richardlenoir-63               1
08:12:00  paris-lorraine-22                    1
08:11:00  paris-uzes-1                         1
          paris-montparnasseraspail-parking    1
Name: time, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Q3  
What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?  
Overall?  
At the most popular picking hour?

In [102]:
# then repeat the analysis steps on the new dataframe
def analysis1():
  # we first sort the data in ascending order of date and time
  a4=autolib2.sort_values(["date","time" ], ascending = (True, True))
  # then we filter out the observations in the city of Paris 
  a5=a4[a4['City']=='Paris']
  # then compute Blue car usage by finding the difference between successive observations of the Bluecar counter column
  a5["BluecarUsage2"] = a5["Bluecar counter"].diff(-1)
  # then order the list by ascending order of BluecarUsage and viewing the top 5 results
  autolib5=a5[a5["BluecarUsage2"] < 0].groupby('Postal code')['Postal code'].count().sort_values(ascending=False)
  autolib6=a5[a5["BluecarUsage2"] < 0].groupby(['Postal code','time'])['time'].count().sort_values(ascending=False)
  return  autolib5.head() , autolib6.head()  
# then call the function
x,y= analysis1()
print(f"{x}\n\n{y}")

Postal code
75015    93
75008    87
75016    73
75019    69
75012    65
Name: Postal code, dtype: int64

Postal code  time
75007        11:22:00    2
75012        03:56:00    2
75014        05:52:00    2
75019        19:36:00    2
75015        12:39:00    2
Name: time, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Q4
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? **Yes.  
Using the Utilib cars, we do the previous analysis and we expect the results to change since the count of Utilib cars is different from that of Blue car. Shown below.**

In [105]:
# For utilib
def analysis2():
  # we first sort the data in ascending order of date and time
  a6=autolib2.sort_values(["date","time" ], ascending = (True, True))
  # then we filter out the observations in the city of Paris 
  a7=a6[a6['City']=='Paris']
  # then compute Blue car usage by finding the difference between successive observations of the Bluecar counter column
  a7["UtilibUsage"] = a7["Utilib counter"].diff(-1)
  # then order the list by ascending order of BluecarUsage and viewing the top 5 results
  autolib6=a7[a7["UtilibUsage"] < 0].groupby('Postal code')['Postal code'].count().sort_values(ascending=False)
  autolib7=a7[a7["UtilibUsage"] < 0].groupby(['Postal code','time'])['time'].count().sort_values(ascending=False)
  return  autolib6.head() , autolib7.head()  
# then call the function
x,y= analysis2()
print(f"{x}\n\n{y}")

Postal code
75012    14
75016    11
75006    10
75014    10
75019     9
Name: Postal code, dtype: int64

Postal code  time
75017        11:13:00    2
             17:50:00    2
75020        18:48:00    1
75011        06:51:00    1
75009        17:36:00    1
Name: time, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy